<a href="https://colab.research.google.com/github/prekhanshi/Experiment-2-Basics-Of-Python/blob/main/practical_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name: Prekhanshi kumbhhakar
# branch: ENTC
# batch: A1
# EXPERIMENT NO. 2
# TITLE: BASICS OF PYTHON

In [ ]:
#first Python Program / string
print("Hello, Welcome to Python Programming")

Hello, Welcome to Python Programming

In [ ]:
#  Many Statements
print("Hello World!"); print("what is up"); print("how is life?")

Hello World!
what is up
how is life?

In [ ]:
print("Hello World!", end= " ")
print("what is up")

Hello World! what is up

In [ ]:
#print numbers
a= 2
print(a)
print(32)

2
32

In [ ]:
#variables
x= 5
x= "Hello World"
print (x)

Hello World

In [ ]:
#variables
x= 5
y= "Hello World"
print (x)
print (y)

5
Hello World

In [ ]:
#case sensitive
a= 4
A= "PREK"
print(a)
print(A)

4
PREK

In [ ]:
# Many values to multiple variables
x,y,z = "orange", "banana", "cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

In [ ]:
a=2
b=8
print("addition= =", a+b)
print("subtraction=",a-b)
print("division=",a/b)
print("multiplication=",a*b)

addition= = 10
subtraction= -6
division= 0.25
multiplication= 16

In [ ]:
# understanding data types
x= 10
y= 3.14
z="python"
flag = True
C= 2+4j

print(type(x))
print(type(y))
print(type(z))
print(type(flag))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
# input from user
name= input("Enter your name: ")
print("Hello", name)

Enter your name: prek
Hello prek

In [ ]:
#simple calculator
a = int(input("Enter first number:"))
b = int(input("Enter the second number:"))
func = input("Enter the function to perform: ")
if func=="add":
 print(a+b)
if func=="subtract":
  print(a-b)

Enter first number:2
Enter the second number:5
Enter the function to perform: add
7

In [ ]:
# total and avg marks
Sub1= int(input("Enter marks of subject 1:"))
Sub2= int(input("Enter marks of subject 2:"))
Sub3= int(input("Enter marks of subject 3:"))
Sub4= int(input("Enter marks of subject 4:"))
Sub5= int(input("Enter marks of subject 5:"))
Total= Sub1+Sub2+Sub3+Sub4+Sub5
print("Total marks =", Total)
Avg= Total/5
print("Average marks =", Avg)

Enter marks of subject 1:24
Enter marks of subject 2:24
Enter marks of subject 3:35
Enter marks of subject 4:55
Enter marks of subject 5:60
Total marks = 198
Average marks = 39.6

In [ ]:
#area of rectangle
a= int(input("enter the length:"))
b= int(input('enter the breadth:'))
area= a*b
print("area of rectangle =", area2)

enter the length22
enter the breadth3
area of rectangle = 66

In [ ]:
#area od circle
a=int(input("enter the radius:"))
area= 3.14*a*a
print("area of circle:" , area)

enter the radius:4
area of circle: 50.24

In [ ]:
#power
print(2**5)

32

In [ ]:
A = (2,3,4)+(6,7,8)
print (A)

(2, 3, 4, 6, 7, 8)